<div class="container-fluid bg-dark bg-opacity-10 pb-5 pt-5">
  <div class="container text-center">
    <div class="row">
      <div class="col pt-2 fs-3 bg-dark bg-opacity-10 rounded-pill">
        Soft Skills
      </div>
      <div class="col p-3 fs-3 bg-dark bg-opacity-10 rounded-pill">
        Hard Skills
      </div>
    </div>
    <div class="row">
      <div class="col-6 mt-4 bg-dark bg-opacity-10 rounded-pill" >
        <ul>
          <li class="pt-3" style="list-style: none;">
            <div class="row">
              <div class="col m">soft</div>
              <div class="col"><div class="progress" role="progressbar" aria-label="Success example" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
                <div class="progress-bar bg-dark" style="width: 25%"></div>
              </div>
            </div>
            </div>
          </li>
        </ul>
      </div>
      <div class="col-6 mt-4 bg-dark bg-opacity-10 rounded-pill" >
        <ul>
          <li class="pt-3 fs-5 text-center" style="list-style: none;">An item</li>
        </ul>
      </div>
      </div>
    </div>
  </div>
